<div ng-controller="SettingsController" layout="column" class="settingsContainer">
    <div class="row">
        <div class="col-xs-12 col-lg-2"></div>
        <div class="col-xs-12 col-lg-4">
            <md-card class="settingsCard">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">E-Mail Settings</span>
                    </md-card-title-text>

                </md-card-title>
                <md-card-content>
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Send Email?</label>
                        <md-switch ng-model="settings.sendEmail" aria-label=" SSL">
                        </md-switch>
                    </md-input-container>
                    <div id="email-details" ng-disabled="!settings.sendEmail">
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>Email Recipient</label>
                            <input ng-model="settings.email">
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-xs>
                            <label>SMTP-Host</label>
                            <input ng-model="settings.smtp_host" ng-disabled="!settings.sendEmail">
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-xs>
                            <label>SMTP-User</label>
                            <input ng-model="settings.smtp_user" ng-disabled="!settings.sendEmail">
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-xs>
                            <label>SMTP-Password</label>
                            <input type="password" ng-model="settings.smtp_pass" ng-disabled="!settings.sendEmail">
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-xs>
                            <label>SMTP-Port</label>
                            <input ng-model="settings.smtp_port" ng-disabled="!settings.sendEmail">
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-xs>
                            <label>Use SSL?</label>
                            <md-switch ng-model="settings.smtp_ssl" aria-label=" SSL"
                                       ng-disabled="!settings.sendEmail">
                            </md-switch>
                        </md-input-container>
                    </div>

                </md-card-content>
            </md-card>

        </div>


        <div class="col-xs-12 col-lg-4">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline"> Notification Settings</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Send Pushbullet Notification?</label>
                        <md-switch ng-model="settings.sendPushbullet" aria-label=" Enable/Disable Pushbullet">
                        </md-switch>
                    </md-input-container>

                    <div id="pushbullet-details" ng-show="settings.sendPushbullet">


                        <md-input-container class="md-block" flex-gt-xs>
                            <label>Pushbullet Authorization Token</label>
                            <input ng-model="settings.pushbulletAPI" ng-disabled="!settings.sendPushbullet">
                        </md-input-container>
                    </div>

                </md-card-content>
            </md-card>
            <div class="col-xs-12 col-lg-2"></div>
        </div>

    </div>

    <div layout="row">
        <span flex></span>
        <md-button class="md-raised" href="../">
            Discard
        </md-button>
        <md-button href="../" class="md-raised md-primary" ng-click="save()">
            Save
        </md-button>
    </div>

</div>

</div>