

body{
  font-family: Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: 0.010em;
}

.siteCard {
  /*width: 300px;*/
  /*display: inline-block;*/
  position: relative;
  vertical-align: top;
  text-align: left;

  /*margin-left: 20px;
  margin-right: 20px;*/
}

#logo {
  max-height: 50px;
  margin-top: 20px;
  margin-left: 10px;
}

@media only screen and (max-width : 480px) {
  
    #logo {
      display:none;
    }

  }

.screenshot{
  /*height:210px*/;
  width: 96% ;
  margin-top: 10px;
  margin-left:auto;
  margin-right: auto;
}

.cardContainer{
  text-align: center;
  float:  right;
}

#headerIcon {
  margin-left:5px;
  margin-right:20px;
  padding-top: 10px;
}

#menuBar {
  /*height:70px;*/
}


.newSitePicture{
  width:90%;
  height: 200px;
  border: solid 1px #aeaeae;
  line-height: 210px;
  text-align: center;
  margin:auto;
  margin-top: 20px;
}


.newAddButtonContainer {
  text-align: center;

}
.newAddButton {
    width: 200px;
}

.editDialog {
  margin-left:10px;
  margin-right:10px;
  margin-top:35px;
}
.urlEdit {
  width:100%;
}

#email-settings{
  margin-left:auto;
  margin-right:auto;
}

#notification-settings{
  margin-left:auto;
  margin-right:auto;

}




.optionsButton {
  position: absolute;
  right: 0px;
}

.plusButton {
  position:fixed !important;
  right: 60px;
  bottom: 40px;

}


